.app {
 text-align: center;
}

.app-header {
 background-color: #0A6610;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
color: white;
}

.button{
    margin: 30px;
}
.input{
 margin: 200px;
 font-size : 20px;}
.inputp{
 margin:200px;
font-size : 20px;}
.b{
      margin: 200px;
  }
