

<div class="app">
    <header class="app-header">
        <h2> WELCOME {{userName}}</h2>
        <div>
        <p>Ask a question</p>
        <input [(ngModel)] ="question" /> 
        <button (click)= "ask()"> ASK </button> 
    	</div>
        
        <div *ngFor="let answer of answers">
            <p>{{answer.name}} : {{answer.question}}</p>
            <br>
            <p>admin :  {{answer.answer}}</p>


        </div>

        <a [routerLink] = "['/']"><button>log out</button></a>

  

    </header>
</div>

